.DS_store
/.bundle
/vendor/bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/coverage/
/spec/tmp/*
/node_modules
/yarn-error.log
.byebug_history
.idea/*
spec/examples.txt
.env
/config/secrets.yml
/config/local_env.yml
/config/application.yml
config/database.yml
config/application.yml
